<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../../css/myCSS/customer/homePage/homePage_style.css">
  <title>WolfShop</title>
  <link rel="icon" href="../../../image/logo_wolf.png" type="image/png">

  <link rel="stylesheet" href="../../../css/CSS_buffet/fontawesome-free-5.10.2-web/css/all.min.css">
  <link rel="stylesheet" href="../../../css/CSS_buffet/bootstrap.min.css">
  <link rel="stylesheet" href="../../../css/CSS_buffet/bootstrap-grid.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav_active_header">
      <a class="navbar-brand" href="#"><img class="logo_shop" src="../../../image/logo_wolf_right.png" alt="logo"><label
          class="text_logo">WoflShop</label></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="product1_cutter">
      <div class="line_product1"></div>
      <div class="product_home_1_up" >
        <img src="../../../image/product1_up.png" alt="#" data-aos="fade-right" data-aos-duration="1000">
      </div>
      <div class="product_home_1_down">
        <img src="../../../image/product1_down.png" alt="#" data-aos="fade-right" data-aos-duration="1500">
      </div>
      <a href="#" class="see_product1">See Product</a>
    </div>
    <div class="text_sologun">
      <div class="wolf_text">
        <p class="w_text" data-aos="fade-right"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="500">W</p>
        <p class="o_text" data-aos="fade-right"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="900">O</p>
        <p class="l_text" data-aos="fade-right"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="1300">L</p>
        <p class="f_text" data-aos="fade-right"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="1700">F</p>
      </div>
      <div class="line_text_sologun" data-aos="fade-up" data-aos-offset="500" data-aos-duration="1500"></div>
      <div class="text_an_toan"><label class="text_sologun" data-aos="fade-left" data-aos-anchor="#example-anchor"
          data-aos-offset="500" data-aos-duration="500">An toàn</label></div>
      <div class="text_nhanh_chong" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
        data-aos-duration="1000"><label class="text_sologun">Nhanh chóng</label></div>
      <div class="text_bi_mat" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500"
        data-aos-duration="1500"><label class="text_sologun">Bí mật</label></div>
    </div>
  </header>







  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>